.discover-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-height: calc(100vh - 80px);
}

.discover-page__loading,
.discover-page__error,
.discover-page__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  text-align: center;
  color: #666;
}

.discover-page__error {
  color: #e53935;
}

.discover-page__empty p {
  margin: 4px 0;
}
